h1 {
    text-align: center;
    font-family: 'Noto Serif SC', serif;
    font-size: 70px;
    font-weight: normal;
}

h2, h4 {
    font-weight: normal;
    font-style: italic;
}

h3 {
    font-weight: normal;
    font-size: 30px;
    font-style: italic;

}

p, li {
    font-family: "Monaco";
}

a {
    font-style: italic;
}

.top-nav {
    padding-top: 2em;
    text-align: right;
    padding-right: 3em;
    font-size: 15px;
}



.home-header {
    padding-top: 7em;
    text-align: center;

}

.links {
    text-align: center;
    
}

.about-me {
    padding-top: 17em;
    display: flex;
    padding-right: 3em;

}
.resume-contact {
    display: flex;
    padding-left: 3em;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    

}

#resume-name {
    font-size: 30px;
}

.education-body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px dotted black;
    padding: 20px;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    
}


.resume-item {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    padding: 20px;
    border-radius: 25px;
    width:fit-content;
    margin: auto;
   
}

.experience-items {
    display: flex;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

.activities-body {
    display: flex;
   

}

.skills {
    display: flex;
    justify-content: center;
}



/* .activities {
    display: flex;
    justify-content: center;
}

.skills {
    display: flex;
    justify-content: center;
} */
